server:
  port: 8443
  ssl:
    bundle: "web-server-bundle"

spring:
  application:
    name: movies-api
  datasource:
    url: jdbc:h2:mem:testdb;NON_KEYWORDS=YEAR // add NON_KEYWORDS=YEAR because Movie model class has a field called 'year'
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  ssl:
    bundle:
      jks:
        web-server-bundle:
          key:
            alias: localhost
          keystore:
            location: classpath:keystore.p12
            password: secret
            type: PKCS12

app:
  cors:
    allowed-origins: https://localhost:3443

springdoc:
  swagger-ui:
    disable-swagger-default-url: true

logging:
  level:
    org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG
